<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Agência #{{listarAge.id_da_agencia}}</h1>
  <p>Endereço: {{listarAge.endereco}}</p>
  <p>Email: {{listarAge.email}}</p>
  <p>Telefone: {{listarAge.telefone}}</p>




  <a href="/age/editA/{{listarAge.id_da_agencia}}"> Editar</a>
  <a href="/age/remove/{{listarAge.id_da_agencia}}"> Excluir</a>
</body>

</html>