<h1> Cartões cadastrados</h1>

<div class="prod-container">
    {{#each listar}}

    <strong> #{{this.id_do_cartao}}</strong> -
    <a href="/cartao/{{this.id_do_cartao}}">{{numero_do_cartao}}</a>
    <br><br>
    - Código de segurança: {{coddeseg}}
    <br>
    - Data de validade: {{dataexp}}
    <br>
    - Tipo do cartão: {{tipodecartao}}
    <br>
    - Limite: {{limitecartao}}
    <br>
    - Saldo: {{saldocartao}}
    <br><br>
    {{/each}}

</div>