<h1>Informações do cliente</h1>

<h3> {{listarCartao.iddocartao}} </h3>
<p>Número do cartão: {{listarCartao.coddeseg}} </p>
<p>Data de validade: {{listarCartao.dataexp}} </p>
<p>Tipo de cartão: {{listarCartao.tipodecartao}} </p>
<p>Limite: {{listarCartao.limitecartao}} </p>
<p>Saldo: {{listarCartao.saldocartao}} </p>

<a href="/cartao/editCart/{{listarCartao.iddocartao}}"> EDITAR</a>
<br><br>
<a href="/cartao/remove/{{listarCartao.iddocartao}}"> EXCLUIR</a>