<h1>Informações do cliente</h1>

<h1> {{listarCartao.iddocartao}} </h1>


<p>numero do cartao: {{listarCartao.coddeseg}} </p>

<p>data de validade: {{listarCartao.dataexp}} </p>

<p>Tipo de cartao Credito ou Debito : {{listarCartao.tipodecartao}} </p>

<p>limite: {{listarCartao.limitecartao}} </p>

<p> saldo:  {{listarCartao.saldocartao}} anos </p>
 
<a href="/cartao/editCart/{{listarCartao.iddocartao}}"> EDITAR</a>

<br> <br>

<a href="/cartao/remove/{{listarCartao.iddocartao}}"> EXCLUIR</a>

