<h1>Clientes</h1>

<h1>{{listarProd.nome}}</h1>

<p>Idade: {{listarProd.idade}}</p>
<p>Email: {{listarProd.email}}</p>
<p>Telefone: {{listarProd.telefone}}</p>

<a href="/prod/edit/{{listarProd.id}}">Editar</a>
<a href="/prod/remove/{{listarProd.id}}">Excluir</a>