<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Cliente</h1>
    <h3>{{listarProd.nome_cliente}}</h3>
    <p>CPF: {{listarProd.cpf}}</p>
    <p>Email: {{listarProd.email}}</p>
    <p>Telefone: {{listarProd.telefone}}</p>
    <p>Endereço: {{listarProd.endereco_cliente}}</p>
    <p>ID do Consórcio: {{listarProd.consorcio_cliente}}</p>
    <p>ID do Empéstimo: {{listarProd.emprestimo_cliente}}</p>
    <p>ID do Cartão: {{listarProd.cartao_cliente}}</p>
    <p>ID da Agência: {{listarProd.agencia_cliente}}</p>


    <a href="/prod/edit/{{listarProd.id_do_cliente}}"> Editar</a>
    <a href="/prod/remove/{{listarProd.id_do_cliente}}"> Excluir</a>

    {{!-- <form action="/prod/remove/{{listarProd.id}}" method="post">
        <br>
        <input type="submit" value="Excluir">

    </form> --}}
</body>

</html>