<h1>Informações da conta</h1>

<h1> {{listarCont.id_da_conta}} </h1>

<p>Nome do cliente: {{listarCont.nome_cliente}}</p>

<p>ID do cliente: {{listarCont.id_do_cliente}}</p>

<p>Tipo de conta: {{listarCont.tipo_de_conta}} </p>

<p>Saldo: {{listarCont.saldo}} </p>

<p>id da agencia: {{listarCont.id_da_agencia}} </p>


<a href="/cont/editCont/{{listarCont.id_da_conta}}"> EDITAR</a>
<br><br>
<a href="/cont/remove/{{listarCont.id_da_conta}}"> EXCLUIR</a>