<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Editar cliente</h1>
    <form action="/prod/updateprod" method="post">
        <div class="form-control">
            <input type="hidden" name="id_do_cliente" id="id_do_cliente" value="{{prod.id_do_cliente}}">
            <br><br>
            <label for="name">Nome:</label>
            <input type="text" name="nome_cliente" placeholder="Digite o nome do cliente" value="{{prod.nome_cliente}}">
            <br><br>
            <label for="name">CPF:</label>
            <input type="text" name="cpf" placeholder="Digite o cpf do cliente" value="{{prod.cpf}}">
            <br><br>
            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="Digite o email do cliente" value="{{prod.email}}">
            <br><br>
            <label for="telefone">Telefone:</label>
            <input type="text" name="telefone" placeholder="Digite o telefone do cliente" value="{{prod.telefone}}">
            <br><br>
            <label for="endereco_cliente">Endereço:</label>
            <input type="text" name="endereco_cliente" placeholder="Digite o endereço do cliente"
                value="{{prod.endereco_cliente}}">
            <br><br>
            <label for="endereco_cliente">ID do Consórcio:</label>
            <input type="number" name="consorcio_cliente" placeholder="Digite o id do consórcio"
                value="{{prod.consorcio_cliente}}">
            <br><br>
            <label for="emprestimo_cliente">ID do Empréstimo:</label>
            <input type="number" name="emprestimo_cliente" placeholder="Digite o id do empréstimo"
                value="{{prod.emprestimo_cliente}}">
            <br><br>
            <label for="emprestimo_cliente">ID do Cartão:</label>
            <input type="number" name="cartao_cliente" placeholder="Digite o id do cartão"
                value="{{prod.cartao_cliente}}">
            <br><br>
            <label for="agencia_cliente">ID da Agência:</label>
            <input type="number" name="agencia_cliente" placeholder="Digite a sua agência"
                value="{{prod.agencia_cliente}}">
            <br><br>
            <input type="submit" value="Editar">
        </div>

    </form>
</body>

</html>