<h1>Editar Cliente</h1>
<hr>
<form action="/prod/updateprod" method="post">
    <div class="form-control">
        <input type="hidden" name="id" id="id" value="{{prod.id}}">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" placeholder="Digite o nome do cliente" value="{{prod.nome}}">
    </div>

    <br>

    <div class="form-control">
        <label for="idade">Idade:</label>
        <input type="number" name="idade" placeholder="Digite a idade" value="{{prod.idade}}">
    </div>

    <br>

    <div class="form-control">
        <label for="email">Email:</label>
        <input type="text" name="email" placeholder="Digite o email" value="{{prod.email}}">
    </div>

    <br>

    <div class="form-control">
        <label for="telefone">Telefone:</label>
        <input type="number" name="telefone" placeholder="Digite o telefone" value="{{prod.telefone}}">
    </div>

    <br>

    <input type="submit" value="Editar">
</form>